# --------------------------------------------
# Environment variables for the application
# --------------------------------------------

# Basic app settings
APP_ENV=production
APP_DEBUG=false
APP_KEY=SomeRandomStringWith32Characters
APP_URL=http://127.0.0.1:8000
APP_TIMEZONE='Europe/Zurich'
APP_LOCALE='fr-FR'
MAX_RESULTS=500

# Uploading file storage settings
PRIVATE_FILESYSTEM_DISK=local
PUBLIC_FILESYSTEM_DISK=local_public

# Database settings
DB_CONNECTION=mysql
DB_HOST=snipeit-mysql
DB_PORT=3306
DB_DATABASE=snipeit
DB_USERNAME=user
DB_PASSWORD=password
DB_PREFIX=null
DB_DUMP_PATH='/usr/bin'
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_SANITIZE_BY_DEFAULT=false

# Outgoing mail server settings
MAIL_MAILER=smtp
MAIL_HOST=my.smtp.host
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDR=dev@localhost.ch
MAIL_FROM_NAME='Snipe-IT'
MAIL_REPLYTO_ADDR=dev@localhost.ch
MAIL_REPLYTO_NAME='Snipe-IT'
MAIL_AUTO_EMBED_METHOD='attachment'
MAIL_TLS_VERIFY_PEER=true

# Image library settings
IMAGE_LIB=gd

# --------------------------------------------
# Environment variables for the database
# --------------------------------------------

MYSQL_DATABASE=snipeit
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=root
